.hidden {
  display: none;
}

.step {
  margin: 1em 0;
}

button.choice {
  margin: 0.3em;
  padding: 0.5em 1em;
  cursor: pointer;
}

.breadcrumbs {
  font-size: 0.9em;
  margin-bottom: 1em;
  color: #555;
}
